Repository KonstantinPronin/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - local: "frontend/.gitlab-ci.yml"
    strategy: depend
  rules:
    - changes:
        - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - local: "backend/.gitlab-ci.yml"
    strategy: depend
  rules:
    - changes:
        - backend/**/*

backend-report:
  stage: module-pipelines
  trigger:
    include:
      - local: "backend-report/.gitlab-ci.yml"
    strategy: depend
  rules:
    - changes:
        - backend-report/**/*

add nginx
  backend-report/deploy.sh
  backend/deploy.sh
  backend/src/main/resources/application.properties
  docker-compose.yml
  frontend/Dockerfile
  frontend/deploy.sh
  frontend/nginx.tmpl
Due: frontend, backend, backend-report

blue/green deployment
  backend-report/deploy.sh
  backend/Dockerfile
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/vault.crt
  docker-compose.yml
  frontend/deploy.sh
Due: frontend, backend, backend-report

change nginx image
  frontend/Dockerfile
Due: frontend

add argocd deploy
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend, backend-report

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend

update micrometer prometheus version
  backend/pom.xml
Due: backend
